<head>
	<title> SIH-2018</title>
	<!--Adding Bootstrap to the webpage-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<!-- 'container' class from the Bootstrap library-->
	<div class="container">
		<!-- 'jumbotron' make the background grey-->
		<div class="jumbotron">
			<h1>HACKATHON</h1>
			<!-- this the welcome message to the team--> 
			<p>Welcome Programmatori Informatica.</p> 
		</div>
		<p>This is initial commit.</p> 
		<!--This is a comment-->
		<p>Always remember to indent and comment your code.</p>
		<!-- Remember to use extension like Emmet for auto-code completion and auto-indentation--> 
	</div>
</body>