<html>
<body>
	<form name="form" method="POST">
	<div class="services-breadcrumb">
        <div class="container">
            Login
        </div>
        <label>
           <b> </b></label>
        <input type="text" id="username" name="username" placeholder ="Username"/>
        <label>
            </label>
        <input type="password" id="password" name="password" placeholder ="Password"/>
        <div class="loginremember">
          <center>  <input type="checkbox" onchange="document.getElementById('password').type = this.checked ? 'text' : 'password'" /><label class="check"
                for="chbRemember">Show password</label></center><br><br>
                <button type="submit" class="loginbtn"  id="submit" name="submit" >Login</button>
                </div>
	</form>
</body>
</html>

00695C - primary 
003D33 - primary dark
439889 - primary light